[submodule "Wemos_Node"]
	path = Wemos_Node
	url = https://github.com/galagaking/Wemos_Node.git
[submodule "WeMos-Lora"]
	path = WeMos-Lora
	url = https://github.com/hallard/WeMos-Lora.git
[submodule "arduino-lmic"]
	path = arduino-lmic
	url = https://github.com/ch2i/arduino-lmic
[submodule "WorkshopLocationWiFiLoRaWAN2020"]
	path = WorkshopLocationWiFiLoRaWAN2020
	url = https://github.com/turtlecrazy/WorkshopLocationWiFiLoRaWAN2020.git
[submodule "workshop-info.wiki"]
	path = workshop-info.wiki
	url = https://github.com/turtlecrazy/workshop-info.wiki.git
